<!DOCTYPE html>
<html lang="en" ng-app="CIS557">
<head>
    <meta charset="UTF-8">
    <title>Create new account</title>
    <link type="text/css" rel="stylesheet" href="stylesheets/registration.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.2/angular.js"></script>
    <script type="text/javascript" src="javascript/app.js"></script>

</head>
<body>
<div id="parent">
    <div id="left_side">
        <div id="title">Sign up</div>
        <div id="inputBox">
            <div ng-controller="registerController">
                <label for="name"><i class="zmdi zmdi-email"></i></label>
                <input type="text" ng-model="name" class="inputInfo" name="name" id="name" placeholder=" Your Email*" required/><br><br><br>
                <label for="email"><i class="zmdi zmdi-account material-icons-name"></i></label>
                <input type="text" ng-model="email" class="inputInfo" name="email" id="email" placeholder="Your User Name*" required/><br><br><br>
                <label for="pass"><i class="zmdi zmdi-lock"></i></label>
                <input type="password" ng-model="password" class="inputInfo" name="pass" id="pass" placeholder="Password*"
                       ng-change="analyze(password)" required/><br><br>
                <div style="display: flex; width: 50%;">
                    Password strength:
                    <div ng-style="passwordStrength"></div>
                </div>
                <div style="color: darkblue;">Recommendation: included characters, numbers and some specific marker. </div><br><br>
                <label for="rePass"><i class="zmdi zmdi-lock-outline"></i></label>
                <input type="password" ng-model="rePass" class="inputInfo" name="rePass" id="rePass" placeholder="Repeat your password*" required/><br><br><br>
                <input type="checkbox" ng-model="agree" value="on" name="agreeTerm" id="agreeTerm" class="agree-term" />
                <label for="agreeTerm" class="label-agree-term"><span><span></span></span>I agree all statements in  <a href="#" class="term-service">Terms of service</a></label>
                <br><br><br><br>
                <button id="register" value="Register" ng-click="register()">Register</button>
                <button id="back" value="back" ng-click="returnBack()">Back to Login</button><br><br><br><br>

            </div>
        </div>
    </div>

    <div id="image">
        <img src="images/welcome.png" alt="Welcome image">
    </div>
</div>
</body>
</html>
