<!DOCTYPE html>
<html lang="en" ng-app="CIS557">
<head>
    <meta charset="UTF-8">
    <title>Reset password by email</title>
    <link type="text/css" rel="stylesheet" href="stylesheets/resetPassword.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.2/angular.js"></script>
    <script type="text/javascript" src="javascript/app.js"></script>

</head>
<body>
<div id="parent">
    <div id="left_side">
        <div id="title">Reset password by email</div>
        <div id="inputBox">
            <div ng-controller="resetPasswordController">
                <label for="name"><i class="zmdi zmdi-email"></i></label>
                <input type="text" ng-model="userEmail" class="inputInfo" name="userEmail" id="userEmail" placeholder=" Your Email*" required/><br><br><br>
                <button id="submitEmail" value="submitEmail" ng-click="submitEmail()">Reset Password</button>
                <button id="back" value="back" ng-click="returnBack()">Back to Login</button><br><br>
                <div id = 'warning'>We find {{findUserName}} </div><br><br>
            </div>
        </div>
    </div>

    <div id="image">
        <img src="images/welcome.png" alt="Welcome image">
    </div>
</div>
</body>
</html>
